@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes enter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  @keyframes checkmark {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-enter {
    animation: enter 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .animate-leave {
    animation: leave 0.2s ease-in forwards;
  }

  .animate-checkmark {
    animation: checkmark 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0.1s backwards;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-900 text-white;
}